.breadcrumbs {

    background-color: $colorBreadcrumbs;
    padding: clamp(10px, 2vw, 20px) 0;

    font-size: clamp(12px, 1.6vw, 16px);
    font-weight: 500;
    

    // .breadcrumbs__container
    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
    }

    // .breadcrumbs__item
    &__item {
        display: flex;
        align-items: center;

        &:hover {
            color: $colorPrimary;
        }

        &::after {
            content: '/';
            margin-left: 16px;
            color: $colorBlack;
        }

        &:last-child {
            color: $colorGray;
            &::after {
                display: none;
            }
        }
    }
}
