.players-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(10px, 2vw, 30px);

    @media screen and (max-width: $breakpoint1200) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $breakpoint576) {
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: $breakpoint576) {
        .player-card:first-child {
            grid-column: span 2;
            grid-row: span 2;
    
            padding: 40px;
            padding-top: 30px;
    
            .player-card {
    
                // .player-card__team
                &__team {
                    top: 30px;
                    left: 30px;
        
                    width: 150px;
                }
        
                // .player-card__avatar
                &__avatar {
                    margin-bottom: 45px;
        
                    width: clamp(200px, 20vw, 310px);
        
                }
    
                // .player-card__name
                &__name {
                    font-size: 32px;
                }
    
                // .player-card__position
                &__position {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 45px;
                }
    
                // .player-card__stats
                &__stats {
                    .stats {
    
                        // .stats__name
                        &__name {
                            font-size: 14px;
                        }
                    
                        // .stats__value
                        &__value {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}

.players-flex {
    @include flexColumns(4, clamp(10px, 2vw, 30px));
    @media screen and (max-width: $breakpoint1200) {
        @include flexColumns(2, clamp(10px, 2vw, 30px));
    }
    @media screen and (max-width: $breakpoint576) {
        @include flexColumns(1, clamp(10px, 2vw, 30px));
    }
}

.players-table {

    // .players-table__header
    &__header {
        height: 40px;
        display: flex;
        justify-content: flex-end;

        & > div {
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            color: $colorGray;
            font-size: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-last-child(-n + 5) {
                flex: 0 0 14%;
            }
        }

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    // .players-table__body
    &__body {
        @media screen and (min-width: $breakpoint992) {
            border-radius: 10px;
            border: 1px solid $colorBorder;
            overflow: hidden;
        }
        @media screen and (max-width: $breakpoint992) {
            @include flexColumns(2, clamp(10px, 2vw, 30px));
        }
        @media screen and (max-width: $breakpoint576) {
            @include flexColumns(1, clamp(10px, 2vw, 30px));
        }
    }
}

.staff {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 5vw, 50px);

    &_playing {
        flex-direction: row;
        gap: clamp(20px, 3vw, 40px);
        @media screen and (max-width: $breakpoint992) {
            flex-wrap: wrap;
            gap: clamp(10px, 2vw, 20px);
        }
        & > * {
            flex: 0 0 calc(50% - clamp(20px, 3vw, 40px) / 2);
            @media screen and (max-width: $breakpoint992) {
                flex: 0 0 100%;
            }
        }
    }
}

.staff-tabs {
    @media screen and (min-width: $breakpoint992) {
        display: none;
    }
    .tabs__item {
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $colorBlack;
        font-size: 16px;
        flex: 1 1;
    }
}

.staff-team {
    @media screen and (max-width: $breakpoint992) {
        display: none;

        &_open {
            display: block;
        }
    }
    &__name {
        font-size: 24px;
        font-weight: 700;

        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    &__header {
        display: flex;
        align-items: center;

        & > * {
            padding: 15px 20px;
            flex: 1 1;

            font-size: 10px;
            font-weight: 600;
            color: $colorGray;
            text-transform: uppercase;

            &:nth-child(2) {
                flex: 0 0 32%;
            }
            &:nth-child(3) {
                flex: 0 0 16%;
            }
        }

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    @media screen and (min-width: $breakpoint992) {
        .staff-list {
            flex-direction: column;
            gap: 0;
            
            border-radius: 10px;
            border: 1px solid $colorBorder;
            overflow: hidden;
    
            .team-player {
                border-radius: 0;
                background-color: $colorWhite;
                padding: 0;

                & > * {
                    padding: 10px 20px;

                    &:nth-child(3) {
                        flex: 0 0 32%;
                    }
                    &:last-child {
                        flex: 0 0 16%;
                        margin-left: 0;
                    }
                }
    
                display: flex;
                gap: 0;
                
    
                &:nth-child(odd) {
                    background-color: $colorTableRow;
                }
    
                // .team-player__avatar
                &__avatar {
                    grid-row: span 1;                
                }
    
                // .team-player__name
                &__name {
                    align-self: unset;
                    padding-left: 0;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: none;
                    color: $colorBlack
                }
    
                // .team-player__subtitle
                &__subtitle {
                    align-self: unset;
                    margin-left: auto;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: none;
                    color: $colorBlack;
                }
    
                // .team-player__number
                &__number {
    
                    .stats {
                        text-align: left;
    
                        // .stats__name
                        &__name {
                            display: none;
                        }
                    
                        // .stats__value
                        &__value {
                            font-size: 16px;
                            font-weight: 600;
                            text-transform: none;
                            color: $colorBlack
                        }
                    }
                    
                }
            }
        }
    }
}

.staff-group {
    &__name {
        font-size: clamp(10px, 1.4vw, 14px);
        font-weight: 700;
        color: $colorGray;
        margin-bottom: clamp(15px, 2vw, 20px);
    }
}


.staff-list {

    @include flexColumns(4, clamp(10px, 2vw, 20px));
    @media screen and (max-width: $breakpoint1200) {
        @include flexColumns(3, clamp(10px, 2vw, 20px));
    }
    @media screen and (max-width: $breakpoint992) {
        @include flexColumns(2, clamp(10px, 2vw, 20px));
    }
    @media screen and (max-width: $breakpoint768) {
        @include flexColumns(1, clamp(10px, 2vw, 20px));
    }
}



.player {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include clamp(gap, 20, 40);

    @media screen and (max-width: $breakpoint576) {
        flex-direction: column;
        align-items: center;

        & > * {
            width: 100%;
        }
    }

    // .player__img
    &__img {
        width: clamp(210px, 17vw, 274px);
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    // .player__info
    &__info {
        flex: 1 1;
    }

    // .player__name
    &__name {
        font-weight: 700;
        @include clamp(font-size, 24, 32);
        line-height: 1.2;

        @media screen and (max-width: $breakpoint576) {
            text-align: center;
        }
    }

    // .player__role
    &__role {
        margin-top: 4px;
        @include clamp(font-size, 14, 16);
        font-weight: 500;

        @media screen and (max-width: $breakpoint576) {
            text-align: center;
        }
    }

    // .player__team
    &__team {
        display: flex;
        align-items: center;
        gap: 4px;

        margin-top: 16px;

        @include clamp(font-size, 18, 22);
        font-weight: 700;
        color: $colorPrimary;

        @media screen and (max-width: $breakpoint576) {
            justify-content: center;
        }

        img {
            @include clamp(width, 50, 100);
            aspect-ratio: 1;
            height: auto;
            object-fit: contain;

            @media screen and (min-width: $breakpoint992) {
                display: none;
            }
        }
    }

    // .player__bio
    &__bio {
        @include flexColumns(6, 20px);
        row-gap: 15px;

        @media screen and (max-width: $breakpoint1440) {
            @include flexColumns(3, 20px);
        }

        @media screen and (max-width: $breakpoint768) {
            @include flexColumns(2, 15px);
        }

        margin-top: 20px;
        
        .stats {

            white-space: nowrap;

            // .stats__name
            &__name {
                @include clamp(font-size, 12, 14);
                font-weight: 500;
                text-transform: none;
            }
        
            // .stats__value
            &__value {
                @include clamp(font-size, 14, 16);
                font-weight: 500;
            }
        }
    }

    // .player__stats
    &__stats {
        border-radius: 10px;
        background-color: $colorTableRow;
        padding: clamp(15px, 2vw, 20px) clamp(15px, 2.5vw, 25px);
        @include clamp(margin-top, 20, 30);

        @include flexColumns(5, clamp(20px, 4vw, 60px));
        row-gap: 15px;

        @media screen and (max-width: $breakpoint1200) {
            justify-content: space-between;
            & > * {
                flex: unset;
            }
        }


        .stats {

            white-space: nowrap;

            // .stats__name
            &__name {
                @include clamp(font-size, 9, 12);
                font-weight: 500;
            }
        
            // .stats__value
            &__value {
                @include clamp(font-size, 16, 26);
                font-weight: 700;
            }
        }
    }

    // .player__team-logo
    &__team-logo {
        width: clamp(210px, 17vw, 274px);
        aspect-ratio: 1;
        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 73%;
            height: auto;
            display: block;
        }

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }
}


.player-stats-table {

    @extend .players-table;

    // .player-stats-table__header

    &__header {
        @extend .players-table__header;

        & > div {
            
            &:nth-last-child(n) {
                flex: 1 1;
            }
        }
    }

    // .player-stats-table__body
    &__body {
        @extend .players-table__body;
    }
}

.player-stats-row {

    @extend .player-row;
    padding: clamp(15px, 2.5vw, 25px);;

    @media screen and (min-width: $breakpoint992) {
        text-align: center;
    }


    & > * {
        border-right: none;
    }
    
    font-size: clamp(14px, 1vw, 16px);
    font-weight: 700;

    &__cell {
        @media screen and (min-width: $breakpoint992) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 16px;
        }
    }

    // .player-stats-row__season
    &__season {
        flex: 1 1;
        @media screen and (max-width: $breakpoint992) {
            order: 1;
            margin-bottom: 4px;
            font-weight: 600;
        }
    }

    // .player-stats-row__league
    &__league {
        flex: 1 1;
        word-break: break-word;

        @media screen and (max-width: $breakpoint992) {
            flex: 0 0 100%;
            order: 3;
            margin-bottom: 20px;
            color: $colorGray;
            font-weight: 500;
            font-size: 12px;
        }
    }

    // .player-stats-row__team
    &__team {
        flex: 1 1;
        word-break: break-word;

        @media screen and (max-width: $breakpoint992) {
            order: 2;
            justify-content: flex-end;
            text-align: right;
            font-weight: 600;
        }
    }

    // .player-stats-row__stats

    &__stats {
        @extend .player-row__stats;

        @media screen and (min-width: $breakpoint992) {
            flex: 0 0 62.5%;
        }
        
        .stats {
            border-right: none;

            // .stats__name
            &__name {
            }
        
            // .stats__value
            &__value {
            }
        }
    }
}



