.players-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(10px, 2vw, 30px);

    @media screen and (max-width: $breakpoint1200) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $breakpoint576) {
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: $breakpoint576) {
        .player-card:first-child {
            grid-column: span 2;
            grid-row: span 2;
    
            padding: 40px;
            padding-top: 30px;
    
            .player-card {
    
                // .player-card__team
                &__team {
                    top: 30px;
                    left: 30px;
        
                    width: 150px;
                }
        
                // .player-card__avatar
                &__avatar {
                    margin-bottom: 45px;
        
                    width: clamp(200px, 20vw, 310px);
        
                }
    
                // .player-card__name
                &__name {
                    font-size: 32px;
                }
    
                // .player-card__position
                &__position {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 45px;
                }
    
                // .player-card__stats
                &__stats {
                    .stats {
    
                        // .stats__name
                        &__name {
                            font-size: 14px;
                        }
                    
                        // .stats__value
                        &__value {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
}

.players-flex {
    @include flexColumns(4, clamp(10px, 2vw, 30px));
    @media screen and (max-width: $breakpoint1200) {
        @include flexColumns(2, clamp(10px, 2vw, 30px));
    }
    @media screen and (max-width: $breakpoint576) {
        @include flexColumns(1, clamp(10px, 2vw, 30px));
    }
}

.players-table {

    // .players-table__header
    &__header {
        height: 40px;
        display: flex;
        justify-content: flex-end;

        & > div {
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            color: $colorGray;
            font-size: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-child(n + 3) {
                flex: 0 0 14%;
            }
        }

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    // .players-table__body
    &__body {
        @media screen and (min-width: $breakpoint992) {
            border-radius: 10px;
            border: 1px solid $colorBorder;
            overflow: hidden;
        }
        @media screen and (max-width: $breakpoint992) {
            @include flexColumns(2, clamp(10px, 2vw, 30px));
        }
        @media screen and (max-width: $breakpoint576) {
            @include flexColumns(1, clamp(10px, 2vw, 30px));
        }
    }
}

.staff {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 5vw, 50px);

    &_playing {
        flex-direction: row;
        gap: clamp(20px, 3vw, 40px);
        & > * {
            flex: 0 0 calc(50% - clamp(20px, 3vw, 40px) / 2);
            @media screen and (max-width: $breakpoint992) {
                flex: 0 0 100%;
            }
        }
    }
}

.staff-tabs {
    @media screen and (min-width: $breakpoint992) {
        display: none;
    }
    .tabs__item {
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $colorBlack;
        font-size: 16px;
        flex: 1 1;
    }
}

.staff-team {
    @media screen and (max-width: $breakpoint992) {
        display: none;

        &_open {
            display: block;
        }
    }
    &__name {
        font-size: 24px;
        font-weight: 700;

        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    &__header {
        display: flex;
        align-items: center;

        & > * {
            padding: 15px 20px;
            flex: 1 1;

            font-size: 10px;
            font-weight: 600;
            color: $colorGray;
            text-transform: uppercase;

            &:nth-child(2) {
                flex: 0 0 32%;
            }
            &:nth-child(3) {
                flex: 0 0 16%;
            }
        }

        @media screen and (max-width: $breakpoint992) {
            display: none;
        }
    }

    @media screen and (min-width: $breakpoint992) {
        .staff-list {
            flex-direction: column;
            gap: 0;
            
            border-radius: 10px;
            border: 1px solid $colorBorder;
            overflow: hidden;
    
            .team-player {
                border-radius: 0;
                background-color: $colorWhite;
                padding: 0;
                & > * {
                    padding: 10px 20px;
                }
    
                display: flex;
                gap: 0;
                
    
                &:nth-child(odd) {
                    background-color: $colorTableRow;
                }
    
                // .team-player__avatar
                &__avatar {
                    grid-row: span 1;                
                }
    
                // .team-player__name
                &__name {
                    align-self: unset;
                    padding-left: 0;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: none;
                    color: $colorBlack
                }
    
                // .team-player__subtitle
                &__subtitle {
                    align-self: unset;
                    flex: 0 0 32%;
                    margin-left: auto;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: none;
                    color: $colorBlack
                }
    
                // .team-player__number
                &__number {
                    flex: 0 0 16%;
    
                    .stats {
                        text-align: left;
    
                        // .stats__name
                        &__name {
                            display: none;
                        }
                    
                        // .stats__value
                        &__value {
                            font-size: 16px;
                            font-weight: 600;
                            text-transform: none;
                            color: $colorBlack
                        }
                    }
                    
                }
            }
        }
    }
}

.staff-group {
    &__name {
        font-size: clamp(10px, 1.4vw, 14px);
        font-weight: 700;
        color: $colorGray;
        margin-bottom: clamp(15px, 2vw, 20px);
    }
}


.staff-list {

    @include flexColumns(4, clamp(10px, 2vw, 20px));
    @media screen and (max-width: $breakpoint1200) {
        @include flexColumns(3, clamp(10px, 2vw, 20px));
    }
    @media screen and (max-width: $breakpoint992) {
        @include flexColumns(2, clamp(10px, 2vw, 20px));
    }
    @media screen and (max-width: $breakpoint768) {
        @include flexColumns(1, clamp(10px, 2vw, 20px));
    }
}
