$choiceHeight: 42px;
.select {
    font-size: clamp(14px, 1.5vw, 15px);
    font-weight: 600;

    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid $colorBorder;

    min-width: min(320px, 100%);
    height: clamp(46px, 5.2vw, 52px);

    display: flex;
    align-items: center;
    gap: 10px;
    
    cursor: pointer;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: block;
        right: 20px;
        top: 50%;
        translate: 0 -50%;
        pointer-events: none;

        width: clamp(20px, 2.4vw, 24px);
        aspect-ratio: 1;
        background: url(../img/icons/Select-Arrow-Down.svg) center center / contain no-repeat;
    }

    // opened
    &_open {
        .select__choices {
            display: flex;
        }
    }

    // .select__choices
    &__choices {
        position: absolute;
        z-index: 4;
        top: calc(100% + 10px);
        left: 0;
        right: 0;

        border-radius: 10px;
        border: 1px solid $colorBorder;
        padding: 5px;

        display: none;
        flex-direction: column;
        gap: 5px;
        background-color: $colorWhite;


        max-height: calc(($choiceHeight + 5px) * 6 + 5px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            background: $colorTableRow;
            width: 5px;
            padding: 0;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #B2B2B2;
            width: 5px;
            border-radius: 5px;
            background-clip: content-box;
        }
    }

    // .select__choice
    &__choice {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        height: $choiceHeight;
        flex-shrink: 0;

        border-radius: 6px;
        background-color: $colorTableRow;

        cursor: pointer;
        &:hover {
            background-color: rgba($color: $colorPrimary, $alpha: .2);
        }
    }

    &__next,
    &__prev {
        display: none;
    }

    // month
    &_month {
        
        &::before {
            content: '';
            display: block;
            width: clamp(20px, 2.4vw, 24px);
            aspect-ratio: 1;
            background: url(../img/icons/Calendar.svg) center center / contain no-repeat;
        }

        @media screen and (max-width: $breakpoint576) {
            width: 100%;
            justify-content: center;

            &::after {
                display: none;
            }

            .select__prev {
                display: block;
                position: absolute;

                left: 15px;
                top: 50%;
                translate: 0 -50%;

                width: 20px;
                aspect-ratio: 1;
                background: url(../img/icons/Select-Arrow-Down.svg) center center / contain no-repeat;
                rotate: 90deg;
            }

            .select__next {
                display: block;
                position: absolute;

                right: 15px;
                top: 50%;
                translate: 0 -50%;

                width: 20px;
                aspect-ratio: 1;
                background: url(../img/icons/Select-Arrow-Down.svg) center center / contain no-repeat;
                rotate: -90deg;
            }
        }
    
    }



}

.select-group {

    .search {
        margin-left: auto;
    }

    @include flexColumns(4, clamp(10px, 3vw, 30px));

    @media screen and (max-width: $breakpoint768)  {
        @include flexColumns(2, clamp(10px, 3vw, 30px));
        .select {
            min-width: unset;
        }
    }
    @media screen and (max-width: $breakpoint576)  {
        @include flexColumns(1, clamp(10px, 3vw, 30px));
    }
}


.search {

    input {
        height: clamp(46px, 5.2vw, 52px);
        width: 100%;
        font-size: clamp(14px, 1.5vw, 15px);
        font-weight: 500;
        padding: clamp(16px, 2vw, 20px) 20px;
        padding-right: 102px;
        border-radius: 10px;
        border: 1px solid $colorBorder;
        

        &::placeholder {
            color: $colorGray;
        }
        &::-webkit-search-cancel-button{
            
        
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            position: absolute;
            top: 50%;
            right: 72px;
            translate: 0 -50%;
            cursor: pointer;
            height: 14px;
            width: 14px;
            border-radius:10px;
            background: url(../img/icons/search-cross.svg) center center / contain no-repeat;
        }
    }

    min-width: min(320px, 100%);
    @media screen and (max-width: $breakpoint576)  {
        min-width: none;
        width: 100%;
    }
    position: relative;
    &__icon {
        content: '';
        position: absolute;
        top: 0; bottom: 0;
        right: 0;
        aspect-ratio: 1;
        display: block;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: url(../img/icons/search.svg) center center / 38% auto no-repeat;
        background-color: $colorPrimary;
        cursor: pointer;
    }
}

.search-result {

    position: absolute;
    z-index: 4;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid $colorBorder;
    background-color: $colorWhite;

    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1vw, 15px);

    // .search-result__row
    &__row {

        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;

        mark {
            font-weight: 800;    
            color: $colorPrimary;
            background: none;
        }

        img {
            width: clamp(36px, 4vw, 40px);
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
            display: block;
        }
    }
}
