.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    svg {
        height: 20px;
        width: auto;
        display: block;

        &:hover {
            @include svgHover(lighten($colorDarkblue, 20));
        }
    }

    @media screen and (max-width: $burgerBreakpoint) {
        gap: 40px;

        svg {
            height: 24px;
        }
    }
}