.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    svg {
        height: 30px;
        width: auto;
        display: block;

        &:hover {
            @include svgHover(lighten($colorDarkblue, 20));
        }
    }

    @media screen and (max-width: $burgerBreakpoint) {
        gap: 30px;
        flex-wrap: wrap;

    }
}