.title {
    font-size: clamp(24px, 3.6vw, 36px);
    font-weight: 800;
}


.title-2 {
    font-size: clamp(20px, 2.8vw, 28px);
    font-weight: 800;
}

.small-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
}